html, body {
	width: 100%;
	height: 100%;
	background: #000;
}

#scan {
	position: flex;
	z-index: 9997;
	width: 100%;
	height: calc(100% - 40px);
	top: 0;
	left: 0;
}

#album, #cancel {
	position: fixed;
	z-index: 9999;
	font-size: 16px;
	color: #000;
	width: 50%;
	border: 1px solid #000;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}

#album {
	left: 0;
	border-right: 0;
}

#cancel {
	right: 0;
}