.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	position: fixed;
	z-index: 9999;
}

.menu, .msg {
	font-size: 30px;
	padding: 8px;
}

.menu {
	margin-right: auto;
}

.msg {
	margin-left: auto;
}

.title {
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}