{[extend name="common@base" /]}
{[block name="title"]}部门管理 - {[/block]}
{[block name="css"]}

{[/block]}
{[block name="content"]}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="home-panel">
                <div class="home-panel-header">
                    <i class="las la-city"></i>
                    <span>部门管理</span>
                </div>
                <div class="home-panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="home-panel">
                                <div class="home-panel-header">
                                    <i class="las la-cubes"></i>
                                    <span>部门结构</span>
                                </div>
                                <div class="home-panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="treeview"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="home-panel">
                                <div class="home-panel-header">
                                    <i class="las la-rainbow"></i>
                                    <span>部门详情</span>
                                </div>
                                <div class="home-panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form id="department_details_form" onsubmit="return false"
                                                v-show="formShow">
                                                <input type="hidden" v-model="depId">
                                                <div class="form-group">
                                                    <label>上级部门<b style="color: red;">*</b></label>
                                                    <select class="form-control" v-model="upDepId">
                                                        <option v-for="dep in deps" :value="dep.dep_id"
                                                            v-html="dep.dep_name"></option>
                                                    </select>
                                                    <small
                                                        class="form-text text-muted">这是这个部门的上级部门，只可以在已有部门里面选择，千万不要选自己哦。</small>
                                                </div>
                                                <div class="form-group">
                                                    <label>部门编号<b style="color: red;">*</b></label>
                                                    <input type="text" class="form-control" v-model="depNo">
                                                    <small
                                                        class="form-text text-muted">部门编号是部门的唯一标识，可以使用英文和数字的结合，也可以使纯英文和存数字，当然，下划线也是可以的，但是尽量不要使用中文。</small>
                                                </div>
                                                <div class="form-group">
                                                    <label>部门名称<b style="color: red;">*</b></label>
                                                    <input type="text" class="form-control" v-model="depName">
                                                    <small class="form-text text-muted">部门名称就是部门的名字，这里就可以使用中文了。</small>
                                                </div>
                                                <div class="form-group">
                                                    <label>备注</label>
                                                    <input type="text" class="form-control" v-model="depRemark">
                                                    <small
                                                        class="form-text text-muted">这里是备注，可以不写，也可以写一些东西，比如部门的作用。</small>
                                                </div>
                                                <button class="btn btn-success" @click="updateDep"
                                                    v-show="alreadySelect">保存修改</button>
                                                <button class="btn btn-danger" @click="deleteDep"
                                                    v-show="alreadySelect">删除该部门</button>
                                                <button class="btn btn-primary" @click="insertDep"
                                                    v-show="addSonDep">确认添加</button>
                                                <button class="btn btn-info" @click="showAddSonDep"
                                                    v-show="alreadySelect">添加子部门</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{[/block]}
{[block name="js"]}
<script>
    var pageName = "departmentmanage";
    var pageUrl = "/app/" + pageName + "/";
    update_navs(pageName);
    setLocal(["系统管理", "组织架构"], "部门管理");
    var layer;
    layui.use(['layer'], function () { // 加载layui
        layer = layui.layer;
    });
    var treeview = $("#treeview").tree({ // 创建treview
        dataSource: '/app/' + pageName + '/departmentsJsonData',
        autoLoad: true,
        dataBound: function (e) {
            treeview.expandAll();
        }
    });
    var departmentDetailsFormVueObj = new Vue({ // vue对象创建
        el: "#department_details_form",
        data: {
            depId: "",
            upDepId: "",
            depNo: "",
            depName: "",
            depRemark: "",
            alreadySelect: false,
            addSonDep: false,
            formShow: false,
            deps: []
        },
        methods: {
            showAddSonDep: function (event) { // 显示添加子部门表单
                var upDepId = this.depId;
                clearFormData();
                this.addSonDep = true;
                this.upDepId = upDepId;
            },
            insertDep: function (event) { // 添加部门
                var data = getFormData();
                if (data.upDepId < 2) {
                    alertError("upDepIdError");
                } else if (data.depNo == "" || data.depName == "") {
                    alertError("nullError");
                } else {
                    depRequest("insertDep", data, "部门添加成功");
                }
            },
            updateDep: function (event) { // 修改部门
                var data = getFormData();
                if (data.upDepId < 2 || data.upDepId == data.depId) {
                    alertError("upDepIdError");
                } else if (data.depNo == "" || data.depName == "") {
                    alertError("nullError");
                } else {
                    depRequest("updateDep", data, "部门修改成功");
                }
            },
            deleteDep: function (event) { // 删除部门
                layer.confirm('注意！删除部门将会删除该部门下所有子部门！', {
                    title: "确定要删除该部门吗？",
                    btn: ['确定', '取消'],
                }, function (index) {
                    var depId = departmentDetailsFormVueObj.depId;
                    if (depId == "") {
                        alertError("Error");
                    } else if (depId < 3) {
                        alertError("depRootError");
                    } else {
                        depRequest("deleteDep", {
                            depId: depId
                        }, "部门删除成功");
                    }
                    layer.close(index);
                }, function (index) {
                    layer.close(index);
                });
            }
        },
        mounted() {
            loadSelect();
        }
    });

    function depRequest(path, data, msg) { // 通用request请求
        axios
            .post(pageUrl + path, data)
            .then(function (response) {
                var resData = response.data;
                if (resData.code == 1) {
                    layer.alert(msg, {
                        icon: 1,
                        title: "成功"
                    });
                    treeview.reload();
                    loadSelect();
                    if (path == "deleteDep") {
                        clearFormData();
                        departmentDetailsFormVueObj.formShow = false;
                    }
                } else {
                    alertError(resData.msg);
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function loadSelect() { // 加载select数据
        // ajax请求部门数据 用于select框
        axios
            .post(pageUrl + "departmentsData")
            .then(response => (departmentDetailsFormVueObj.deps = response.data))
            .catch(function (error) {
                console.log(error);
            });
    }

    function getFormData() { // 获取表单数据
        var data = {
            depId: departmentDetailsFormVueObj.depId,
            upDepId: departmentDetailsFormVueObj.upDepId,
            depNo: departmentDetailsFormVueObj.depNo,
            depName: departmentDetailsFormVueObj.depName,
            depRemark: departmentDetailsFormVueObj.depRemark,
        };
        return data;
    }

    function clearFormData() { // 清空表单数据
        departmentDetailsFormVueObj.depId = "";
        departmentDetailsFormVueObj.upDepId = "";
        departmentDetailsFormVueObj.depNo = "";
        departmentDetailsFormVueObj.depName = "";
        departmentDetailsFormVueObj.depRemark = "";
        departmentDetailsFormVueObj.alreadySelect = false;
        departmentDetailsFormVueObj.addSonDep = false;
    }
    treeview.on('select', function (e, node, id) { // 监听选择每部门
        var nodeData = treeview.getDataById(id);
        var depData = nodeData.obj;
        departmentDetailsFormVueObj.depId = depData.dep_id;
        departmentDetailsFormVueObj.upDepId = depData.up_dep_id;
        departmentDetailsFormVueObj.depNo = depData.dep_no;
        departmentDetailsFormVueObj.depName = depData.dep_name;
        departmentDetailsFormVueObj.depRemark = depData.dep_remark;
        departmentDetailsFormVueObj.alreadySelect = true;
        departmentDetailsFormVueObj.formShow = true;
    });
    treeview.on('unselect', function (e, node, id) { // 监听取消选择某部门
        clearFormData();
        departmentDetailsFormVueObj.formShow = false;
    });
</script>
{[/block]}