html,
body {
    width: 100%;
    height: 100%;
}

.w {
    width: 100%;
}

.h {
    height: 100%;
}

.p {
    padding: 0;
}

.m {
    margin: 0;
}

.main {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: row;
}

.main-left {
    width: 240px;
    height: 100%;
    overflow-y: auto;
}

.main-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-bottom {
    width: 100%;
    background: #ecf0f5;
    padding: 10px 15px;
    font-size: 11px;
    color: #555;
    text-align: right;
}

.nav-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #2b3647;
}

.nav-left-logo {
    width: 100%;
    height: 60px;
    background: url(../images/logo.jpg) no-repeat;
    background-size: 100% 100%;
}

.nav-left-content {
    width: 100%;
    height: 100%;
    background: #2b3647;
    display: flex;
    flex-direction: column;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.nav-ul-son, .nav-ul-grandson {
    background: #222b3a;
    /* height: 0; */
    display: none;
    /* transition: all .5s; */
}

.nav-li-header {
    width: 100%;
    height: 20px;
}

.nav-li {
    width: 100%;
    background: #2b3647;
}

.nav-li-son, .nav-li-grandson {
    background: #222b3a;
    /* padding-left: 7px; */
}

.nav-li-a {
    color: #a0abbf;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 5px 12px 15px;
    margin-left: 1px;
    text-decoration: none;
}

.nav-li-a-son {
    padding-left: 22px;
}

.nav-li-a-grandson {
    padding-left: 37px;
}

.nav-li-a-son, .nav-li-a-grandson {
    background: #222b3a;
}

.nav-li-a>i:first-child {
    font-size: 20px;
    margin-right: 10px;
}

.nav-li-a>i:last-child {
    font-size: 12px;
    margin-left: auto;
    margin-right: 5px;
}

.nav-li-a>span {
    font-size: 14px;
}

.nav-li-a:hover,
.nav-li-a:active,
.nav-li-a:focus,
.nav-active {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-li-a-son:hover,
.nav-li-a-son:active,
.nav-li-son-a:focus,
.nav-son-active,
.nav-li-a-grandson:hover,
.nav-li-a-grandson:active,
.nav-li-grandson-a:focus,
.nav-grandson-active  {
    background: #141b27;
}

.nav-top {
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-top-left {
    background: #fff;
    padding: 15px 20px;
    margin: 0;
}

.nav-top-right-first {
    margin-left: auto;
}

.nav-top-right {
    padding: 15px 20px;
    color: #9ba3af;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-top-right > i {
    font-size: 24px;
    margin-right: 5px;
}

.nav-top-right:hover, .nav-top-right:active, .nav-top-right:focus {
    text-decoration: none;
    color: #6cadff;
    font-weight: bold;
}

.message-num {
    margin-left: 3px;
}

.content {
    width: 100%;
    height: 100%;
    background: #ecf0f5;
}

.main-iframe {
    width: 100%;
    height: 100%;
}
