html, body {
    width: 100%;
    height: 100%;
    background: #ecf0f5;
}

.home-panel {
    width: 100%;
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
}

.home-panel-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.home-panel-header > i:first-child {
    color: #668eff;
    font-size: 24px;
    margin-right: 5px;
}

.home-panel-header > span {
    color: #4b4b4b;
    font-size: 16px;
}

.home-panel-close {
    margin-left: auto;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.home-panel-body {
    width: 100%;
    padding: 10px;
}