<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../../common/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="./home/home.css">
</head>

<body>

    <div class="container-fluid">

        <div class="row row-header"></div>

        <!-- 第1行 -->
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="task-panel">
                    <div class="task-panel-header">待审批任务</div>
                    <div class="task-panel-body">10</div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="task-panel">
                    <div class="task-panel-header">待签字任务</div>
                    <div class="task-panel-body">9</div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="task-panel">
                    <div class="task-panel-header">维保到期资产</div>
                    <div class="task-panel-body">0</div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="task-panel">
                    <div class="task-panel-header">保修资产数</div>
                    <div class="task-panel-body">6</div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="task-panel">
                    <div class="task-panel-header">待确认调拨单</div>
                    <div class="task-panel-body">15</div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="task-panel">
                    <div class="task-panel-header">安全库存报警</div>
                    <div class="task-panel-body">30</div>
                </div>
            </div>
        </div>

        <!-- 第2行 -->
        <div class="row">
            <div class="col-md-6">
                <div class="home-panel">
                    <div class="home-panel-header">
                        <i class="las la-chart-pie"></i>
                        <span>资产概况</span>
                    </div>
                    <div class="home-panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div id="chart_pie_use" style="width: 100%; height:200px;"></div>
                                    </div>
                                    <div class="col-sm-6 visible-lg-block">
                                        <div class="left-pie">
                                            <div class="left-pie-item">
                                                <h3 class="text-primary">在用资产</h3>
                                            </div>
                                            <div class="left-pie-item">
                                                <div class="left-pie-item-header">资产数量</div>
                                                <div class="left-pie-item-body">2354</div>
                                            </div>
                                            <div class="left-pie-item">
                                                <div class="left-pie-item-header">资产金额</div>
                                                <div class="left-pie-item-body">￥<span>125412.00</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div id="chart_pie_unuse" style="width: 100%; height:200px;"></div>
                                    </div>
                                    <div class="col-sm-6 visible-lg-block">
                                        <div class="left-pie">
                                            <div class="left-pie-item">
                                                <h3 class="text-success">闲置资产</h3>
                                            </div>
                                            <div class="left-pie-item">
                                                <div class="left-pie-item-header">资产数量</div>
                                                <div class="left-pie-item-body">2144</div>
                                            </div>
                                            <div class="left-pie-item">
                                                <div class="left-pie-item-header">资产金额</div>
                                                <div class="left-pie-item-body">￥<span>541244.00</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home-panel">
                    <div class="home-panel-header">
                        <i class="las la-chart-pie"></i>
                        <span>资产状态占比</span>
                    </div>
                    <div class="home-panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="chart_pie_state" style="width: 100%; height:200px;"></div>
                            </div>
                            <div class="col-sm-6">456</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 第3行 -->
        <div class="row"></div>

        <!-- 第4行 -->
        <div class="row"></div>

        <!-- 第5行 -->
        <div class="row"></div>

    </div>

</body>

<script src="../../common/jquery/jquery-3.4.1.min.js"></script>
<script src="../../common/layer/layer.js"></script>
<script src="../../common/vue/vue.min.js"></script>
<script src="../../common/vue/axios.min.js"></script>
<script src="../../common/bootstrap/js/bootstrap.min.js"></script>
<script src="../../common/echarts/echarts.min.js"></script>
<script src="./home/home.js"></script>
<script src="./home/charts.js"></script>

</html>