/**
 * 仿Mac风格弹出层CSS
 * Made in 刘叔
 * GitHub: https://github.com/liujingshi
 * Date: 2020-01-02
 */

 /* 最外部class */
.mac-panel {
    background: #fff;
    /* box-shadow: 0 1px 10px rgba(0, 0, 0, .3); */
    box-shadow: 0 5px 20px rgba(0, 0, 0, .6);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 6666;
}

/* 标题栏class */
.mac-panel-header {
    width: 100%;
    height: 38px;
    background: linear-gradient(#e5e5e5, #cdcdcd);
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #a7a7a7;
    display: flex;
    flex-direction: row;
    border-radius: 5px 5px 0 0;
}

/* 标题栏左侧三个按钮class */
.mac-panel-header-three-btn {
    width: 78px;
    height: 36px;
    border-radius: 5px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(0, 0, 0, 0);
}

/* 三个按钮鼠标悬停显示 */
.mac-panel-header-three-btn:hover {
    color: rgba(0, 0, 0, .95);
}

/* 三个按钮class */
.mac-panel-header-close,
.mac-panel-header-min,
.mac-panel-header-max {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3px;
}

/* 关闭按钮class */
.mac-panel-header-close {
    background: #ff3f4a;
    border: 1px solid #ef1320;
    margin-left: 12px;
}

/* 最小化按钮class */
.mac-panel-header-min {
    background: #ffbf00;
    border: 1px solid #e79f13;
}

/* 最大化按钮class */
.mac-panel-header-max {
    background: #00da43;
    border: 1px solid #12b829;
}

/* 按钮禁用class */
.mac-panel-header-btn-disabled {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0);
    background: #cfcfcf;
    border: #b8b8b8;
}

/* 标题文字class */
.mac-panel-header-title {
    width: 100%;
    height: 36px;
    padding: 0 73px 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a4949;
    font-size: 13.35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: move;
}

/* 弹出层主体内容class */
.mac-panel-body {
    padding: 12px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* 最小化区域栏class */
.mac-panel-min-area {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    position: fixed;
    z-index: 6665;
    left: 0;
    bottom: 0;
}

/* 遮罩层class */
.mask {
    position: fixed;
    z-index: 6661;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}